<h1>Cocktails</h1>


<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("cowc6lfilvn59oa7mvgf",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("vxcqcjq5n5unjav5o8la",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

<% @cocktails.each do |drink| %>
<%= link_to drink.name, cocktail_path(drink.id), class: "btn btn-primary" %>
<% end %>

<div class= "new-cocktail">
  <h1>Add a Cocktail</h1>
  <%= render 'form' %>
</div>
