<h1>Ingredients</h1>

<ul style="list-style: none; padding: 0">
  <% @ingredients.each do |ingredient| %>
    <li> <%= link_to ingredient.name, ingredient_path(ingredient) %> </li>
  <% end %>
  </ul>

  <%= link_to 'Add a new ingredient', new_ingredient_path, class: "btn btn-primary" %>
