<div class="banner" style="background-image: linear-gradient(to right, rgba(0,0,0,0.7),rgba(0,0,0,0.1)), url(<%= image_path "banner-no.jpg" %>);">
  <div class="container">
    <h1><span id="banner-typed-text"></span></br>
      Cocktail Recipes!
    </h1>
      </br>
      <p>“There is no wrong way to consume alcohol.”</p>
      <p class="font-italic">Ron Swanson</p>
  </div>
  <div class="container pt-3">
    <%= link_to 'Browse Cocktails', cocktails_path, class: 'btn btn-dark btn-lg' %>
  </div>
