@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,600;0,700;1,400&display=swap');

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  font-family: 'Vollkorn', serif;
  color: white;
}

.banner h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-weight: bold;
}

.banner p {
  margin-top: 8px;
  font-size: 20px;
  opacity: .7;
}

.banner h5 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
